body {
	margin : 0px;
	font-family: "Arial", Arial, sansserif;
}

.banner {
	
}

.topmenu {
	

}

a{text-decoration:none;
	display:block; }
a:link {
    color: #000;
}
a:visited {
    color: #000;
}
a:hover {
    color: #FF00FF;
}
a:active {
    color: #0000FF;
}
.blackcell {
	width: 50px;
	height: 50px;
	background-color: black;
	float:left;
}

.whitecell {
	width: 50px;
	height: 50px;
	background-color: white;
	float:left;
}

.boardrow {
	width:400px;
}
.board{
	float:left-center-left;
	border: 2px solid black;
	width:400px;
	height:400px;
	margin:100px auto 0px auto;

}

.topmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.topmenu li {
    float: left;
}

.topmenu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.topmenu li a:hover {
    background-color: #111;
}
.wrapper {
	margin:0 auto;
}
.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.sidebar{ 
     float: left; 
     width:  200px;
     padding: 2px;
     height: auto; 
}
.sidebar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.sidebar li a:hover {
    background-color: #111;
}
.content{
	float: center-left;
}

.title {
	
}

.title h1 {
    text-align: center;
}
.group {
	width : 600px;
	margin : auto;
}
.personal {
	width : 600px;
	margin : auto;
}

.avatar {
	float : left;
}
.avatargroup {
	float : center;
}

.avatar img {
	width : 300px;
	height : auto;
	
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.avatargroup img {
	width : 600px;
	height : auto;
	
	border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.information {
	float : left;
}

.clearfix {
	clear: left;
    overflow: auto;
}

.footer {
	
}


